<div class="background" style="background-image: url(<%= asset_path "book.jpg" %>)">
  <div class="overlay">
    <div class="centered-form">
      <div class="border">
        <h1><i class="fa fa-plus-circle"></i> New Card</h1>
        <%= bootstrap_form_for @card, url: deck_cards_path(@deck) do |f| %>
          <%= f.text_field :title, hide_label: true, placeholder: "Card Title (Required)" %>
          <%= f.text_field :heading, hide_label: true, placeholder: "Backside Heading" %>
          <%= f.text_area :description, :rows => "6", hide_label: true, placeholder: "Backside Description" %>
          <%= f.text_field :img_url, hide_label: true, placeholder: "Background Image Url (Optional)" %>
          <%= f.submit @card.new_record? ? "Create Card" : "Edit Card", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
