<div class="background" style="background-image: url(<%= @deck.img_url %>)">
  <div class="overlay">
    <div class="centered-card">
      <%= link_to deck_cards_path(@deck) do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
      <%= link_to deck_cards_path(@deck), class: "border" do %>
        <h2><i class="fa fa-info-circle"></i><br>Deck Info:</h2>
        <h1><%= @deck.name %></h1>
        <hr>
        <h3>DECK CREATED:</h3>
        <h4><%= @deck.created_at.to_formatted_s(:short)  %></h4>
        <h3>CARDS IN DECK:</h3>
        <h4><%= @deck.cards.count %></h4>
        <% if @deck.user == current_user %>
          <%= link_to edit_deck_path(@deck) do%>
            <div class="edit-icons">
              <i class="fa fa-pencil fa-2x"></i>
            </div>
          <% end %>
          <%= link_to deck_path(@deck), method: :delete, data: { confirm: 'Delete this deck and all cards? This cannot be un-done.' } do %>
            <div class="edit-icons">
              <i class="fa fa-trash-o fa-2x"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
